/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */
html {
  height: 100%;
  width: 100%;
}
body {
  background: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.logo {
  margin: 0 auto;
  display: block;
}

canvas {
  position: absolute;

}

.tester {
  width: 100%;
  height: 100%;
}
